<div class="tooltip">
    <img src="src/img/qmark.png" class="tooltip__img" alt="League of Legends Question mark ping" height="42">
    <span class="tooltip__text">The purpose of this website is to find a League of Legends player’s champion
        mastery. <br> You just have to type a Summoner’s name in the bar and choose the mastery of which champion
        you want to see.</span>
</div>

<section class="fav_summoner">
    <div class="section__title">
        <p class="section__title_p">Favorite Summoners</p>
    </div>

    <div class="section__items_container">
        <div class="section__items">

            <div class="section__items_wrap">
                <p class="section__items_names">xLeay</p>
                <span class="material-symbols-outlined">grade</span>
            </div>

            <div class="section__items_wrap">
                <p class="section__items_names">Irelking</p>
                <span class="material-symbols-outlined">grade</span>
            </div>

            <div class="section__items_wrap last_name">
                <p class="section__items_names">Yozu</p>
                <span class="material-symbols-outlined">grade</span>
            </div>
            
        </div>
    </div>
</section>